<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- 5S -->
	<key>FR9K</key>
	<array>
		<string>国行(A1530)</string>
		<string>灰色</string>
		<string>16G</string>
	</array>
	<key>FR9L</key>
	<array>
		<string>国行(A1530)</string>
		<string>银色</string>
		<string>16G</string>
	</array>
	<key>FR9M</key>
	<array>
		<string>国行(A1530)</string>
		<string>金色</string>
		<string>16G</string>
	</array>
    <key>FR9N</key>
    <array>
        <string>国行(A1530)</string>
        <string>灰色</string>
        <string>32G</string>
    </array>
    <key>FR9P</key>
    <array>
        <string>国行(A1530)</string>
        <string>银色</string>
        <string>32G</string>
    </array>
    <key>FR9Q</key>
    <array>
        <string>国行(A1530)</string>
        <string>金色</string>
        <string>32G</string>
    </array>
    <key>FR9R</key>
    <array>
        <string>国行(A1530)</string>
        <string>灰色</string>
        <string>64G</string>
    </array>
    <key>FR9T</key>
    <array>
        <string>国行(A1530)</string>
        <string>银色</string>
        <string>64G</string>
    </array>
    <key>FR9V</key>
    <array>
        <string>国行(A1530)</string>
        <string>金色</string>
        <string>64G</string>
    </array>
    
    
    <key>FRC4</key>
    <array>
        <string>港版(A1530)</string>
        <string>灰色</string>
        <string>16G</string>
    </array>
    <key>FRC5</key>
    <array>
        <string>港版(A1530)</string>
        <string>银色</string>
        <string>16G</string>
    </array>
    <key>FRC6</key>
    <array>
        <string>港版(A1530)</string>
        <string>金色</string>
        <string>16G</string>
    </array>
    <key>FRC7</key>
    <array>
        <string>港版(A1530)</string>
        <string>灰色</string>
        <string>32G</string>
    </array>
    <key>FRC8</key>
    <array>
        <string>港版(A1530)</string>
        <string>银色</string>
        <string>32G</string>
    </array>
    <key>FRC9</key>
    <array>
        <string>港版(A1530)</string>
        <string>金色</string>
        <string>32G</string>
    </array>
    <key>FRCC</key>
    <array>
        <string>港版(A1530)</string>
        <string>灰色</string>
        <string>64G</string>
    </array>
    <key>FRCD</key>
    <array>
        <string>港版(A1530)</string>
        <string>银色</string>
        <string>64G</string>
    </array>
    <key>FRCF</key>
    <array>
        <string>港版(A1530)</string>
        <string>金色</string>
        <string>64G</string>
    </array>
    
    
    <key>FFG8</key>
    <array>
        <string>港版(A1530)</string>
        <string>灰色</string>
        <string>16G</string>
    </array>
    <key>FFG9</key>
    <array>
        <string>港版(A1530)</string>
        <string>银色</string>
        <string>16G</string>
    </array>
    <key>FFGC</key>
    <array>
        <string>港版(A1530)</string>
        <string>金色</string>
        <string>16G</string>
    </array>
    <key>FFGD</key>
    <array>
        <string>港版(A1530)</string>
        <string>灰色</string>
        <string>32G</string>
    </array>
    <key>FFGF</key>
    <array>
        <string>港版(A1530)</string>
        <string>银色</string>
        <string>32G</string>
    </array>
    <key>FFGG</key>
    <array>
        <string>港版(A1530)</string>
        <string>金色</string>
        <string>32G</string>
    </array>
    <key>FFGH</key>
    <array>
        <string>港版(A1530)</string>
        <string>灰色</string>
        <string>64G</string>
    </array>
    <key>FFGJ</key>
    <array>
        <string>港版(A1530)</string>
        <string>银色</string>
        <string>64G</string>
    </array>
    <key>FFGK</key>
    <array>
        <string>港版(A1530)</string>
        <string>金色</string>
        <string>64G</string>
    </array>
    
    
 
    <key>FF9Y</key>
    <array>
        <string>日版(A1453)</string>
        <string>灰色</string>
        <string>16G</string>
    </array>
    <key>FFDN</key>
    <array>
        <string>日版(A1453)</string>
        <string>银色</string>
        <string>16G</string>
    </array>
    <key>FFDR</key>
    <array>
        <string>日版(A1453)</string>
        <string>金色</string>
        <string>16G</string>
    </array>
    <key>FFFJ</key>
    <array>
        <string>日版(A1453)</string>
        <string>灰色</string>
        <string>32G</string>
    </array>
    <key>FFFL</key>
    <array>
        <string>日版(A1453)</string>
        <string>银色</string>
        <string>32G</string>
    </array>
    <key>FFFN</key>
    <array>
        <string>日版(A1453)</string>
        <string>金色</string>
        <string>32G</string>
    </array>
    <key>FFFR</key>
    <array>
        <string>日版(A1453)</string>
        <string>灰色</string>
        <string>64G</string>
    </array>
    <key>FFFT</key>
    <array>
        <string>日版(A1453)</string>
        <string>银色</string>
        <string>64G</string>
    </array>
    <key>FFFW</key>
    <array>
        <string>日版(A1453)</string>
        <string>金色</string>
        <string>64G</string>
    </array>
    
    
    
    <key>FP6H</key>
    <array>
        <string>中国联通(A1528)</string>
        <string>灰色</string>
        <string>16G</string>
    </array>
    <key>FP6J</key>
    <array>
        <string>中国联通(A1528)</string>
        <string>银色</string>
        <string>16G</string>
    </array>
    <key>FP6K</key>
    <array>
        <string>中国联通(A1528)</string>
        <string>金色</string>
        <string>16G</string>
    </array>
    <key>FP6L</key>
    <array>
        <string>中国联通(A1528)</string>
        <string>灰色</string>
        <string>32G</string>
    </array>
    <key>FP6M</key>
    <array>
        <string>中国联通(A1528)</string>
        <string>银色</string>
        <string>32G</string>
    </array>
    <key>FP6N</key>
    <array>
        <string>中国联通(A1528)</string>
        <string>金色</string>
        <string>32G</string>
    </array>
    <key>FP6P</key>
    <array>
        <string>中国联通(A1528)</string>
        <string>灰色</string>
        <string>64G</string>
    </array>
    <key>FP6Q</key>
    <array>
        <string>中国联通(A1528)</string>
        <string>银色</string>
        <string>64G</string>
    </array>
    <key>FP6R</key>
    <array>
        <string>中国联通(A1528)</string>
        <string>金色</string>
        <string>64G</string>
    </array>
    
    
    <key>FR97</key>
    <array>
        <string>中国移动(A1518)</string>
        <string>灰色</string>
        <string>16G</string>
    </array>
    <key>FR98</key>
    <array>
        <string>中国移动(A1518)</string>
        <string>银色</string>
        <string>16G</string>
    </array>
    <key>FR99</key>
    <array>
        <string>中国移动(A1518)</string>
        <string>金色</string>
        <string>16G</string>
    </array>
    <key>FR9C</key>
    <array>
        <string>中国移动(A1518)</string>
        <string>灰色</string>
        <string>32G</string>
    </array>
    <key>FR9D</key>
    <array>
        <string>中国移动(A1518)</string>
        <string>银色</string>
        <string>32G</string>
    </array>
    <key>FR9F</key>
    <array>
        <string>中国移动(A1518)</string>
        <string>金色</string>
        <string>32G</string>
    </array>
    <key>FR9G</key>
    <array>
        <string>中国移动(A1518)</string>
        <string>灰色</string>
        <string>64G</string>
    </array>
    <key>FR9H</key>
    <array>
        <string>中国移动(A1518)</string>
        <string>银色</string>
        <string>64G</string>
    </array>
    <key>FR9J</key>
    <array>
        <string>中国移动(A1518)</string>
        <string>金色</string>
        <string>64G</string>
    </array>
    
    
    
    
    <key>FNNK</key>
    <array>
        <string>中国电信(A1533)</string>
        <string>灰色</string>
        <string>16G</string>
    </array>
    <key>FNNL</key>
    <array>
        <string>中国电信(A1533)</string>
        <string>银色</string>
        <string>16G</string>
    </array>
    <key>FNNM</key>
    <array>
        <string>中国电信(A1533)</string>
        <string>金色</string>
        <string>16G</string>
    </array>
    <key>FNNN</key>
    <array>
        <string>中国电信(A1533)</string>
        <string>灰色</string>
        <string>32G</string>
    </array>
    <key>FNNP</key>
    <array>
        <string>中国电信(A1533)</string>
        <string>银色</string>
        <string>32G</string>
    </array>
    <key>FNNQ</key>
    <array>
        <string>中国电信(A1533)</string>
        <string>金色</string>
        <string>32G</string>
    </array>
    <key>FNNR</key>
    <array>
        <string>中国电信(A1533)</string>
        <string>灰色</string>
        <string>64G</string>
    </array>
    <key>FNNT</key>
    <array>
        <string>中国电信(A1533)</string>
        <string>银色</string>
        <string>64G</string>
    </array>
    <key>FNNV</key>
    <array>
        <string>中国电信(A1533)</string>
        <string>金色</string>
        <string>64G</string>
    </array>
    
    
    <key>FNJJ</key>
    <array>
        <string>美版(A1533)</string>
        <string>灰色</string>
        <string>16G</string>
    </array>
    <key>FNJK</key>
    <array>
        <string>美版(A1533)</string>
        <string>银色</string>
        <string>16G</string>
    </array>
    <key>FNJL</key>
    <array>
        <string>美版(A1533)</string>
        <string>金色</string>
        <string>16G</string>
    </array>
    <key>FNJM</key>
    <array>
        <string>美版(A1533)</string>
        <string>灰色</string>
        <string>32G</string>
    </array>
    <key>FNJN</key>
    <array>
        <string>美版(A1533)</string>
        <string>银色</string>
        <string>32G</string>
    </array>
    <key>FNJP</key>
    <array>
        <string>美版(A1533)</string>
        <string>金色</string>
        <string>32G</string>
    </array>
    <key>FNJQ</key>
    <array>
        <string>美版(A1533)</string>
        <string>灰色</string>
        <string>64G</string>
    </array>
    <key>FNJR</key>
    <array>
        <string>美版(A1533)</string>
        <string>银色</string>
        <string>64G</string>
    </array>
    <key>FNJT</key>
    <array>
        <string>美版(A1533)</string>
        <string>金色</string>
        <string>64G</string>
    </array>
    
    
    
    
    <key>FF9Y</key>
    <array>
        <string>美版(A1433)</string>
        <string>灰色</string>
        <string>16G</string>
    </array>
    <key>FFDN</key>
    <array>
        <string>美版(A1433)</string>
        <string>银色</string>
        <string>16G</string>
    </array>
    <key>FFDR</key>
    <array>
        <string>美版(A1433)</string>
        <string>金色</string>
        <string>16G</string>
    </array>
    <key>FFFJ</key>
    <array>
        <string>美版(A1433)</string>
        <string>灰色</string>
        <string>32G</string>
    </array>
    <key>FFFL</key>
    <array>
        <string>美版(A1433)</string>
        <string>银色</string>
        <string>32G</string>
    </array>
    <key>FFFN</key>
    <array>
        <string>美版(A1433)</string>
        <string>金色</string>
        <string>32G</string>
    </array>
    <key>FFFR</key>
    <array>
        <string>美版(A1433)</string>
        <string>灰色</string>
        <string>64G</string>
    </array>
    <key>FFFT</key>
    <array>
        <string>美版(A1433)</string>
        <string>银色</string>
        <string>64G</string>
    </array>
    <key>FFFW</key>
    <array>
        <string>美版(A1433)</string>
        <string>金色</string>
        <string>64G</string>
    </array>

   <!-- 5 -->
   
   <key>DTWD</key>
   <array>
       <string>中国联通(A1429)2网无锁/港版(A1429)2网无锁/日版(A1429)2网有锁</string>
       <string>黑色</string>
       <string>16G</string>
   </array>
   <key>DTWF</key>
   <array>
       <string>中国联通(A1429)2网无锁/港版(A1429)2网无锁/日版(A1429)2网有锁</string>
       <string>白色</string>
       <string>16G</string>
   </array>
   <key>DTWG</key>
   <array>
       <string>中国联通(A1429)2网无锁/港版(A1429)2网无锁/日版(A1429)2网有锁</string>
       <string>黑色</string>
       <string>32G</string>
   </array>
   <key>DTWH</key>
   <array>
       <string>中国联通(A1429)2网无锁/港版(A1429)2网无锁/日版(A1429)2网有锁</string>
       <string>白色</string>
       <string>32G</string>
   </array>
   <key>F39C</key>
   <array>
       <string>中国联通(A1429)2网无锁/港版(A1429)2网无锁/日版(A1429)2网有锁</string>
       <string>黑色</string>
       <string>64G</string>
   </array>
   <key>F39D</key>
   <array>
       <string>中国联通(A1429)2网无锁/港版(A1429)2网无锁/日版(A1429)2网有锁</string>
       <string>白色</string>
       <string>64G</string>
   </array>
   
   
   
   <key>F8H2</key>
   <array>
       <string>中国电信(A1442)3网有锁/美版(A1429)3网无锁/日版(A1429)3网无锁</string>
       <string>黑色</string>
       <string>16G</string>
   </array>
   <key>F8H4</key>
   <array>
       <string>中国电信(A1442)3网有锁/美版(A1429)3网无锁/日版(A1429)3网无锁</string>
       <string>白色</string>
       <string>16G</string>
   </array>
   <key>F8H5</key>
   <array>
       <string>中国电信(A1442)3网有锁/美版(A1429)3网无锁/日版(A1429)3网无锁</string>
       <string>黑色</string>
       <string>32G</string>
   </array>
   <key>F8H6</key>
   <array>
       <string>中国电信(A1442)3网有锁/美版(A1429)3网无锁/日版(A1429)3网无锁</string>
       <string>白色</string>
       <string>32G</string>
   </array>
   <key>F8H7</key>
   <array>
       <string>中国电信(A1442)3网有锁/美版(A1429)3网无锁/日版(A1429)3网无锁</string>
       <string>黑色</string>
       <string>64G</string>
   </array>
   <key>F8H8</key>
   <array>
       <string>中国电信(A1442)3网有锁/美版(A1429)3网无锁/日版(A1429)3网无锁</string>
       <string>白色</string>
       <string>64G</string>
   </array>

   
   <key>FH19</key>
   <array>
       <string>美版(A1428)T-Mobile</string>
       <string>黑色</string>
       <string>16G</string>
   </array>
   <key>FH1C</key>
   <array>
       <string>美版(A1428)T-Mobile</string>
       <string>白色</string>
       <string>16G</string>
   </array>
   <key>FH1D</key>
   <array>
       <string>美版(A1428)T-Mobile</string>
       <string>黑色</string>
       <string>32G</string>
   </array>
   <key>FH1F</key>
   <array>
       <string>美版(A1428)T-Mobile</string>
       <string>白色</string>
       <string>32G</string>
   </array>
   <key>FH1G</key>
   <array>
       <string>美版(A1428)T-Mobile</string>
       <string>黑色</string>
       <string>64G</string>
   </array>
   <key>FH1H</key>
   <array>
       <string>美版(A1428)T-Mobile</string>
       <string>白色</string>
       <string>64G</string>
   </array>
   
   
   <key>DTTN</key>
   <array>
       <string>美版(A1428)/美版官方无锁</string>
       <string>黑色</string>
       <string>16G</string>
   </array>
   <key>DTTP</key>
   <array>
       <string>美版(A1428)/美版官方无锁</string>
       <string>白色</string>
       <string>16G</string>
   </array>
   <key>DTTQ</key>
   <array>
       <string>美版(A1428)/美版官方无锁</string>
       <string>黑色</string>
       <string>32G</string>
   </array>
   <key>DTTR</key>
   <array>
       <string>美版(A1428)/美版官方无锁</string>
       <string>白色</string>
       <string>32G</string>
   </array>
   <key>F38W</key>
   <array>
       <string>美版(A1428)/美版官方无锁</string>
       <string>黑色</string>
       <string>64G</string>
   </array>
   <key>F38Y</key>
   <array>
       <string>美版(A1428)/美版官方无锁</string>
       <string>白色</string>
       <string>64G</string>
   </array>
   
   
   
   
   <key>F8GH</key>
   <array>
       <string>美版(A1429)Sprint</string>
       <string>黑色</string>
       <string>16G</string>
   </array>
   <key>F8GJ</key>
   <array>
       <string>美版(A1429)Sprint</string>
       <string>白色</string>
       <string>16G</string>
   </array>
   <key>F8GK</key>
   <array>
       <string>美版(A1429)Sprint</string>
       <string>黑色</string>
       <string>32G</string>
   </array>
   <key>F8GL</key>
   <array>
       <string>美版(A1429)Sprint</string>
       <string>白色</string>
       <string>32G</string>
   </array>
   <key>F8GM</key>
   <array>
       <string>美版(A1429)Sprint</string>
       <string>黑色</string>
       <string>64G</string>
   </array>
   <key>F8GN</key>
   <array>
       <string>美版(A1429)Sprint</string>
       <string>白色</string>
       <string>64G</string>
   </array>

   <!-- 4s -->
   <key>DTC0</key>
   <array>
       <string>中国联通(A1431)2网无锁/港版(A1387)2网无锁/日版(A1387)2网有锁</string>
       <string>黑色</string>
       <string>16G</string>
   </array>
   <key>DTD2</key>
   <array>
       <string>中国联通(A1431)2网无锁/港版(A1387)2网无锁/日版(A1387)2网有锁</string>
       <string>白色</string>
       <string>16G</string>
   </array>
   <key>DTD7</key>
   <array>
       <string>中国联通(A1431)2网无锁/港版(A1387)2网无锁/日版(A1387)2网有锁</string>
       <string>黑色</string>
       <string>32G</string>
   </array>
   <key>DTDF</key>
   <array>
       <string>中国联通(A1431)2网无锁/港版(A1387)2网无锁/日版(A1387)2网有锁</string>
       <string>白色</string>
       <string>32G</string>
   </array>
   <key>DTDM</key>
   <array>
       <string>中国联通(A1431)2网无锁/港版(A1387)2网无锁/日版(A1387)2网有锁</string>
       <string>黑色</string>
       <string>64G</string>
   </array>
   <key>DTDV</key>
   <array>
       <string>中国联通(A1431)2网无锁/港版(A1387)2网无锁/日版(A1387)2网有锁</string>
       <string>白色</string>
       <string>64G</string>
   </array>
   
   
   <key>DTC1</key>
   <array>
       <string>中国电信(A1387)2网有锁/美版(A1387)3网无锁或有锁/日版(A1387)3网有锁</string>
       <string>黑色</string>
       <string>16G</string>
   </array>
   <key>DTD3</key>
   <array>
       <string>中国电信(A1387)2网有锁/美版(A1387)3网无锁或有锁/日版(A1387)3网有锁</string>
       <string>白色</string>
       <string>16G</string>
   </array>
   <key>DTD8</key>
   <array>
       <string>中国电信(A1387)2网有锁/美版(A1387)3网无锁或有锁/日版(A1387)3网有锁</string>
       <string>黑色</string>
       <string>32G</string>
   </array>
   <key>DTDG</key>
   <array>
       <string>中国电信(A1387)2网有锁/美版(A1387)3网无锁或有锁/日版(A1387)3网有锁</string>
       <string>白色</string>
       <string>32G</string>
   </array>
   <key>DTDN</key>
   <array>
       <string>中国电信(A1387)2网有锁/美版(A1387)3网无锁或有锁/日版(A1387)3网有锁</string>
       <string>黑色</string>
       <string>64G</string>
   </array>
   <key>DTDW</key>
   <array>
       <string>中国电信(A1387)2网有锁/美版(A1387)3网无锁或有锁/日版(A1387)3网有锁</string>
       <string>白色</string>
       <string>64G</string>
   </array>
   
   
   
   <key>DTF9</key>
   <array>
       <string>美版(A1387)</string>
       <string>黑色</string>
       <string>16G</string>
   </array>
   <key>DTFC</key>
   <array>
       <string>美版(A1387)</string>
       <string>白色</string>
       <string>16G</string>
   </array>
   <key>DTFD</key>
   <array>
       <string>美版(A1387)</string>
       <string>黑色</string>
       <string>32G</string>
   </array>
   <key>DTFF</key>
   <array>
       <string>美版(A1387)</string>
       <string>白色</string>
       <string>32G</string>
   </array>
   <key>DTFG</key>
   <array>
       <string>美版(A1387)</string>
       <string>黑色</string>
       <string>64G</string>
   </array>
   <key>DTFH</key>
   <array>
       <string>美版(A1387)</string>
       <string>白色</string>
       <string>64G</string>
   </array>
   
   
   <key>DT9Y</key>
   <array>
       <string>美版(A1387)官方无锁</string>
       <string>黑色</string>
       <string>16G</string>
   </array>
   <key>DTD1</key>
   <array>
       <string>美版(A1387)官方无锁</string>
       <string>白色</string>
       <string>16G</string>
   </array>
   <key>DTD6</key>
   <array>
       <string>美版(A1387)官方无锁</string>
       <string>黑色</string>
       <string>32G</string>
   </array>
   <key>DTDD</key>
   <array>
       <string>美版(A1387)官方无锁</string>
       <string>白色</string>
       <string>32G</string>
   </array>
   <key>DTDL</key>
   <array>
       <string>美版(A1387)官方无锁</string>
       <string>黑色</string>
       <string>64G</string>
   </array>
   <key>DTDT</key>
   <array>
       <string>美版(A1387)官方无锁</string>
       <string>白色</string>
       <string>64G</string>
   </array>
   

</dict>
</plist>
